<h1 style="text-align: center;">{{title}}</h1>
<p style="text-align: center;">Welcome to {{title}}</p>
<table>
  <tr>
    <td class="chess-square">A8</td>
    <td class="chess-square">B8</td>
    <td class="chess-square">C8</td>
    <td class="chess-square">D8</td>
    <td class="chess-square">E8</td>
    <td class="chess-square">F8</td>
    <td class="chess-square">G8</td>
    <td class="chess-square">H8</td>
  </tr>
  <tr>
    <td class="chess-square">A7</td>
    <td class="chess-square">B7</td>
    <td class="chess-square">C7</td>
    <td class="chess-square">D7</td>
    <td class="chess-square">E7</td>
    <td class="chess-square">F7</td>
    <td class="chess-square">G7</td>
    <td class="chess-square">H7</td>
  </tr>
  <tr>
    <td class="chess-square">A6</td>
    <td class="chess-square">B6</td>
    <td class="chess-square">C6</td>
    <td class="chess-square">D6</td>
    <td class="chess-square">E6</td>
    <td class="chess-square">F6</td>
    <td class="chess-square">G6</td>
    <td class="chess-square">H6</td>
  </tr>
  <tr>
    <td class="chess-square">A5</td>
    <td class="chess-square">B5</td>
    <td class="chess-square">C5</td>
    <td class="chess-square">D5</td>
    <td class="chess-square">E5</td>
    <td class="chess-square">F5</td>
    <td class="chess-square">G5</td>
    <td class="chess-square">H5</td>
  </tr>
  <tr>
    <td class="chess-square">A4</td>
    <td class="chess-square">B4</td>
    <td class="chess-square">C4</td>
    <td class="chess-square">D4</td>
    <td class="chess-square">E4</td>
    <td class="chess-square">F4</td>
    <td class="chess-square">G4</td>
    <td class="chess-square">H4</td>
  </tr>
  <tr>
    <td class="chess-square">A3</td>
    <td class="chess-square">B3</td>
    <td class="chess-square">C3</td>
    <td class="chess-square">D3</td>
    <td class="chess-square">E3</td>
    <td class="chess-square">F3</td>
    <td class="chess-square">G3</td>
    <td class="chess-square">H3</td>
  </tr>
  <tr>
    <td class="chess-square">A2</td>
    <td class="chess-square">B2</td>
    <td class="chess-square">C2</td>
    <td class="chess-square">D2</td>
    <td class="chess-square">E2</td>
    <td class="chess-square">F2</td>
    <td class="chess-square">G2</td>
    <td class="chess-square">H2</td>
  </tr>
  <tr>
    <td class="chess-square">A1</td>
    <td class="chess-square">B1</td>
    <td class="chess-square">C1</td>
    <td class="chess-square">D1</td>
    <td class="chess-square">E1</td>
    <td class="chess-square">F1</td>
    <td class="chess-square">G1</td>
    <td class="chess-square">H1</td>
  </tr>
</table>
